.screen-pixel {
  width: 11px;
  height: 11px;
  background-color: #eee;
}

.screen-pixel.on {
  background-color: black;
}

.debug .screen-pixel.on.playing,
.debug .screen-pixel.playing {
  background-color: #f00;
}

.screen button {
  margin-top: 40px;
}
