.symbol-editor {
  display: flex;
  gap: 2px;
  height: 100%;
  justify-content: space-around;
}

.miniature {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2px;
  cursor: zoom-in;
  border: 1px solid #ccc;
}

.miniature:hover,
.miniatureSelected {
  border: 1px solid black;
  & p {
    color: black;
  }

  .miniature-pixel {
    background-color: #ccc;
  }

  .miniature-pixel-on {
    background-color: black;
  }
}

.miniature > p {
  margin: 0;
  padding: 0 var(--half-pad);
  color: #ccc;
}

.miniaturePixel {
  width: 4px;
  height: 4px;
  background-color: #eee;
}
