.symbol-thumbnail {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2px;
  cursor: zoom-in;
  border: 1px solid #ccc;
  color: #ccc;
}

.symbol-thumbnail-label {
  margin: 0;
  padding: 0 var(--half-pad);
}

.symbol-thumbnail-pixel {
  width: 4px;
  height: 4px;
  background-color: #eee;
}

.symbol-thumbnail-pixel.on {
  background-color: #ccc;
}

.symbol-thumbnail:hover,
.symbol-thumbnail.selected {
  border: 1px solid black;
  color: black;

  .symbol-thumbnail-pixel {
    background-color: #ccc;
  }

  .symbol-thumbnail-pixel.on {
    background-color: black;
  }
}
